.folder-view {
  padding: 20px;
  box-shadow: 0 4px 6px rgba(36, 36, 36, 0.1);
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-left: 980px;
  margin-top: -100px;
  position: relative; /* Asegura que los elementos dentro se posicionen correctamente */
  z-index: 10; /* Asegura que el contenido esté por encima de otros elementos */
}

.folder-view-title-container {
  display: flex;
  align-items: start;
  gap: 60px; /* Espacio entre el icono y el título */
  margin-bottom: 16px;
}

.folder-view-title {
  display: flex;
  flex-direction: end;
  font-size: 24px;
  font-weight: bold;
  color: #0f3554;
  margin: 0; /* Elimina el margen para mejor alineación */
  text-align: center;
  margin-bottom: 20px;
}

.back-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; /* Posiciona el botón correctamente */
  z-index: 10; /* Asegura que el botón esté encima del contenido */
}

.back-icon:hover {
  opacity: 0.8; /* Efecto visual al pasar el ratón */
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.filters {
  margin-bottom: 16px;
}

.filter-select {
  margin-left: 8px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.folder-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.folder-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #ffffff;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 4px rgba(177, 62, 62, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.folder-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.folder-icon {
  font-size: 20px;
  color: #0f3554;
  margin-right: 8px; /* Espacio entre el icono y el nombre */
}

.folder-name {
  font-size: 16px;
  font-weight: bold;
  color: #0f3554;
  flex-grow: 1; /* Permite que el nombre ocupe el espacio restante automáticamente */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin: 0; /* Elimina cualquier margen adicional */
}

.folder-item .fa-arrow-right-from-bracket {
  margin-left: auto;
  color: #0f3554;
  font-size: 18px;
}

.empty-message {
  font-size: 16px;
  color: #999;
  text-align: center;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 0.5px solid #ccc;
  border-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 8px;
}

.file-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.file-details {
  display: flex;
  flex-direction: column;
}

.file-name {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #0f3554;
  text-decoration: none; /* Elimina la línea debajo del texto */
  text-align: center; /* Centra el texto del nombre */
  margin: 0 auto; /* Centra el texto en el contenedor */
  display: block;
}

.file-date {
  font-size: 14px;
  color: #666;
  margin-left: 110px;
}

.file-actions {
  display: flex;
  gap: 8px;
  margin-left: auto; /* Mueve los botones hacia la derecha */
  align-items: center;
}

.preview-button,
.download-button {
  background-color: #0f3554;
  color: white;
  border: none;
  border-radius: 4px;
  width: 28px;
  margin: auto;
  height: 18px;
  font-size: 12px; /* Reduce el tamaño del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.preview-button:hover,
.download-button:hover {
  background-color: #0d2c43;
}

.preview-button .fa-eye,
.download-button .fa-download {
  margin-right: 4px;
  font-size: 12px; /* Reduce el tamaño del ícono */
}

.folder-view-footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px; /* Asegura que el footer se mantenga abajo */
  position: absolute;
  bottom: 0;
  width: 100%; /* Asegura que el footer ocupe todo el ancho disponible */
}