.button-container {
  display: flex;
  flex-direction: column; /* Arrange icon and title vertically */
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 150px; /* Fixed width for all buttons */
  height: 175px; /* Height remains fixed */
  background: linear-gradient(#003870 35%, #003870 50%, #ffffff 50%); /* Gradient inclined at 45 degrees */
  border-radius: 25px;
  box-shadow: 0 6px 15px rgba(145, 2, 49, 0.2);
  cursor: pointer;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.button-container:hover {
  transform: scale(1.2);
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.3);
  border: 3px solid #CA0714; /* Red border on hover */
  border-bottom: 10px solid #CA0714;
}

.button-container img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
  margin-top: 15px;
 
}

.button-container .title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: black; /* Color of the text under the icon */
}

/* Bounce animation for FontAwesome icon */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Add responsiveness for smaller screens */
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    width: 100%;
    max-width: 300px; /* Allows flexibility for different screen sizes */
    margin: 10px 0;
  }
}

/* Adjust for smaller devices */
@media (max-width: 768px) {
  .button-container {
    width: 100%;
    max-width: 250px; /* Reduce width for mobile */
  }

  .title-transparencia {
    font-size: 24px; /* Adjust text size for small screens */
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .title-transparencia {
    font-size: 20px; /* Smaller font on very small screens */
  }

  .button-container {
    width: 90%; /* Make the button nearly full width */
  }
}