.App {
  text-align: center;
  width: 2390px; /* Ancho máximo al 100% */
  height: 100%; /* Ajusta la altura a la pantalla */
  position: relative;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita que aparezca el scroll horizontal */
  overflow-y: scroll; /* Permite solo el scroll vertical */
}

.carousel-container {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  z-index: 10;
  position: relative;
}

body {
  transform: scale(1);
  transform-origin: top left;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 15rem; /* Altura relativa al viewport para hacerlo adaptable */
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Usa rem para escalabilidad */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .App-header {
    font-size: 1.2rem;
  }
  .App-logo {
    height: 8rem;
  }
  .app {
    max-width: 485%; /* Limita el ancho para pantallas grandes */
    min-width: 20%;
  }
}

@media (min-width: 1024px) {
  .App {
    max-width: 585%; /* Limita el ancho para pantallas grandes */
    min-width: 20%;
  }
}

/* Nueva estructura para mantener el footer al final */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa todo el espacio disponible */
}

.content-wrapper {
  display: flex;
  flex: 1; /* Se expande para ocupar el espacio restante */
  position: relative;
}

.side-menu {
  width: 475px; /* Valor fijo */
  min-height: 360px; /* Valor fijo */
  position: absolute;
  top: 339px; /* Valor fijo */
  left: 420px; /* Valor fijo */
  background-color: #003870;
  border: 2px solid #ddd;
  box-shadow: 4px 4px 20px rgba(0, 56, 112, 0.6);
  border-radius: 12px;
  padding: 0px;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: scale(1); /* Mantén un valor de escala constante */
  margin-top: 350px;
  transition: height 0.3s ease-in-out; /* Transición suave para el cambio de altura */
}

.side-menu.expanded {
  min-height: 600px; /* Ajusta la altura cuando el menú está expandido */
}

.folder-view {
  flex: 1;
  padding: 20px;
  /* Asegúrate de que los documentos o carpetas no se solapen con el menú */
  overflow-y: auto;
}

.folder-view-footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 620px;
}

/* Asegura que el footer no se superponga con el contenido cuando el menú se expanda */
.folder-view-footer {
  position: sticky;
  bottom: 0;
  margin-top: 620px;
}

