body {
  margin: 0;
  font-family: "Saira", sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: scale(1);
  transform-origin: 0 0;
  overflow: hidden;
}

code {
  font-family: "Saira", sans-serif;
}

